.chechup {
  background-color: #edf1f3;
  height: 400px;
  margin-bottom: 60px;
  padding: 20px 0px;
}
.chechup .container {
  height: 400px;
  align-content: center;

  text-align: center;
}
.chechup h1 {
  font-weight: 300;
  font-size: 83px;
  line-height: 113.99999999999999%;
  letter-spacing: 2%;
  color: #272727;
  text-transform: uppercase;
}
.chechup p {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 3%;

  display: flex;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
  gap: 10px;
}
.biiling_detail {
  height: 190vh;
}
.biiling_detail .container {
  height: 170vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.billingdetail_left {
  width: 45%;
}
.billings_right {
  width: 45%;
  color: white;
}
.billingdetail_left h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 113.99999999999999%;
  letter-spacing: 6%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.billings_right h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 113.99999999999999%;
  color: #272727;
  margin-bottom: 10px;
  letter-spacing: 6%;
  text-transform: uppercase;
}
.billings_right h2 {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  color: #3a3a3a;
  line-height: 138%;
  letter-spacing: 3%;
  padding-bottom: 10px;
}
.billings_right input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
}
.first_name {
  padding: 10px 0px;
}
.first_name input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
}
.first_name h2 {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 3%;
  margin-bottom: 5px;
}
.street_adres h2 {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 138%;
  letter-spacing: 3%;
}
.street_adres input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
  margin-bottom: 10px;
}
.townwithcity {
  padding: 10px 0px;
}
.townwithcity h2 {
  font-weight: 300;
  font-style: Light;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 3%;
}
.townwithcity input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
  margin-bottom: 10px;
}
.phone {
  padding: 10px 0px;
}
.phone h2 {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 3%;
  margin-bottom: 5px;
  color: #3a3a3a;
}
.phone input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
  margin-bottom: 10px;
}
.email {
  padding: 10px 0px;
}
.email h2 {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 3%;
  margin-bottom: 5px;
  color: #3a3a3a;
}
.email input {
  width: 100%;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  height: 62px;
  outline: none;
  margin-bottom: 10px;
}
